<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chain Reaction</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        td{
            border: black 1px solid;
            height: 50px;
            width: 50px;
            text-align: center;
        }

        td:hover {
            background-color: lightcyan !important;
        }

        td:focus {
            background-color: lightblue !important;
        }
    </style>
</head>

<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul id="players" class="list-group"></ul>
            </div>
            <div class="col-md-8">
                <table id="crx"></table>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>

        $(function () {
            // if (localStorage.getItem("name") == undefined) {
                var name = prompt("Please enter your name");
            //     localStorage.setItem("name", name);
            // } else {
            //     var name = localStorage.getItem("name");
            // }
            var players;
            var turn;

            var socket = io();

            socket.on('createBoard', function (data) {
                players = data.players;
                turn = data.turn;
                createLayout(data.row, data.column, players);
            });

            socket.emit('validate', {name: name}, function (result) {
                if (result) {
                    // socket.emit('status', name);   
                    console.log(result);
                }                
            });            

            socket.on('message', function (message) {
                alert(message);
            });

            socket.on('status', function (data) {
                refreshStatus(data);
            });

            socket.on('play', function (data) {
                refreshCells(data.cells);
                turn = data.turn;                
            });

            $(document).on('click','td' ,function () {
                socket.emit('play', { i: this.id[0], j: this.id[1], owner: name });
            });

        });




        function createLayout(row, column, players) {
            let code;
            for (var i = 0; i < row; i++) {
                code += '<tr>';
                for (var j = 0; j < column; j++) {
                    code += '<td id="' + i + j + '">0</td>';
                }
                code += '</tr>';
            }
            $('#crx').html(code);

            let statusCode;
            players.forEach(function(player) {
                statusCode += '<li class="list-group-item" id="'+player.name+'">'+player.name+'</li>';
            }, this);
            $('#players').html(statusCode);
        }

        function refreshCells(cells) {
            for (var i = 0; i < cells.length; i++) {
                for (var j = 0; j < cells[i].length; j++) {
                    $('#' + i + j).text(cells[i][j].atom);
                }
            }
        }

        function refreshStatus(players) {
            players.forEach(function(player) {
                $('#'+player.name).toggleClass('list-group-item-success',player.status);
                $('#'+player.name).toggleClass('list-group-item-danger',!player.status);
            }, this);
        }

    </script>
</body>

</html>